@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: calc(2vw + 0.25vw);
    margin: 1em 0 1em 0;
}

div div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

div div img {
    width: 30%;
    min-width: 200px;
    object-fit: cover;
}